NET "tmb_clock0"  	LOC = "B31";	# GCLK19P  JRG: this is really tmb_clock05p on the baseboard!  *stoppable*

NET "led_fp<0>"		LOC = "AF24";	# I/O_521	** Dual use output: BPI Flash PROM Data D00
NET "led_fp<1>"		LOC = "AF25";	# I/O_522	** Dual use output: BPI Flash PROM Data D01
NET "led_fp<2>"		LOC = "W24";	# I/O_523	** Dual use output: BPI Flash PROM Data D02
NET "led_fp<3>"		LOC = "V24";	# I/O_524	** Dual use output: BPI Flash PROM Data D03
NET "led_fp<4>"		LOC = "H24";	# I/O_525	** Dual use output: BPI Flash PROM Data D04
NET "led_fp<5>"		LOC = "H25";	# I/O_526	** Dual use output: BPI Flash PROM Data D05
NET "led_fp<6>"		LOC = "P24";	# I/O_527	** Dual use output: BPI Flash PROM Data D06
NET "led_fp<7>"		LOC = "R24";	# I/O_528	** Dual use output: BPI Flash PROM Data D07

NET "reset_btn"		LOC = "U25";
#NET "set_sw<8>"		LOC = "U26";

################################## Clock Constraints ##########################

NET "q3_clk0_refclk_i" TNM_NET = "q3_clk0_refclk_i";
TIMESPEC "TS_q3_clk0_refclk_i" = PERIOD "q3_clk0_refclk_i" 8.0;

# User Clock Constraints
NET "gtx0_txusrclk2_i" TNM_NET = "gtx0_txusrclk2_i";
TIMESPEC "TS_gtx0_txusrclk2_i" = PERIOD "gtx0_txusrclk2_i" 5.0;

####################### GTX reference clock constraints #######################
NET Q3_CLK0_MGTREFCLK_PAD_N_IN  LOC=P5;
NET Q3_CLK0_MGTREFCLK_PAD_P_IN  LOC=P6;
NET Q2_CLK1_MGTREFCLK_PAD_N_IN  LOC=AB5;
NET Q2_CLK1_MGTREFCLK_PAD_P_IN  LOC=AB6;
####################### CCB clock##############################################

NET "tmb_clock0"	TNM_NET = "tmb_clock0";	# TMB main Clock  JRG: this is really tmb_clock05p on the baseboard!  *stoppable*
TIMESPEC "TS_tmb_clock0" = PERIOD "tmb_clock0"  25.0 ns HIGH 50%;

# DRP Clock Constraint
#NET "drp_clk_in_i" TNM_NET = "drp_clk_in_i";
#TIMESPEC "TS_drp_clk_in_i" = PERIOD "drp_clk_in_i" 25.0;
################################# mgt wrapper constraints #####################

##---------- Set placement for gtx0_gtx_wrapper_i/GTX_DUAL ------
INST bi_firefly_i/gtx0_bi_firefly_i/gtxe1_i LOC=GTXE1_X0Y12;

##---------- Set placement for gtx1_gtx_wrapper_i/GTX_DUAL ------
INST bi_firefly_i/gtx1_bi_firefly_i/gtxe1_i LOC=GTXE1_X0Y15;

##---------- Set placement for gtx2_gtx_wrapper_i/GTX_DUAL ------
INST bi_firefly_i/gtx2_bi_firefly_i/gtxe1_i LOC=GTXE1_X0Y17;

##---------- Set placement for gtx3_gtx_wrapper_i/GTX_DUAL ------
INST bi_firefly_i/gtx3_bi_firefly_i/gtxe1_i LOC=GTXE1_X0Y19;